.block1 {
	position: absolute;
	width: 396px;
	height: 333px;
	left: 179px;
	top: 120px;
	background: rgba(255, 107, 0, 0.13);
	border-top: 4px solid #8DE97E;
	border-left: 8px solid #DD0000;
	border-right: 12px solid rgba(221, 133, 0, 0.19);
	border-bottom: 30px solid #000000;
}

.t1 {
	margin: 0;
	position: absolute;
	width: 209px;
	height: 36px;
	left: 175px;
	top: 86px;
	font-family: Magneto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.block2 {
	position: relative;
	width: 396px;
	height: 333px;
	left: 800px;
	top: 120px;
	border-top: 4px solid #46BCFF;
	border-left: 12px solid #C71D83;
	border-right: 12px solid rgba(82, 89, 84, 0.19);
	border-bottom: 10px solid #FD3030;
}

.t2 {
	position: absolute;
	width: 115px;
	height: 21px;
	left: 854px;
	top: 177px;
	font-family: Peralta;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}

.top-img {
	position: absolute;
	width: 396px;
	height: 34px;
	background: url(image.png);
}

.bot-img {
	position: absolute;
	width: 293px;
	height: 183px;
	bottom: -25px;
	left: 50px;
}