body {
	margin: 0;
	background: #FFFFFF;
	font-family: Montserrat;
}

.header {
	width: 100%;
	height: 83px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	align-items: center;
}

.header-name {
	width: 225px;
	height: 26px;
	left: 102px;
	top: 50px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #000000;
	margin-left: 102px;
}

.navigation {
	display: flex;
	justify-content: flex-end;
	margin-right: 124px;
}

.nav-el {
	height: 26px;
	top: 29px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	color: #000000;
	margin-left: 62px;
}

.container {
	display: grid;
	grid-template-rows: repeat(1fr, 5);
	overflow: hidden;
}

h1 {
	margin: 0px;
	line-height: 160%;
	font-style: normal;
	margin-bottom: 35px;
}

p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 160%;
	color: white;
	margin-bottom: 25px;
}

.spooky-main {
	display: grid;
	grid-template-columns: 645px auto;
	background: #040410;
	height: 648px;
	text-align: left;
}

.spooky-img {
	width: 645px;
}

.spooky-text-container {
	width: 403px;
	margin-top: 163px;
	margin-left: auto;
	margin-right: auto;
}

.spooky-h1 {
	font-family: 'Griffy', cursive;
	height: 59px;
	color: white;
	font-weight: 500;
	font-size: 40px;
}

.spooky-text {
	font-family: 'Creepster', cursive;
	
}

.spooky-back {
	position: absolute;
	width: 372px;
	height: 172px;
	right: 0px;
	top: 104px;
}

.fun-main {
	position: relative;
	height: 735px;
	background: #FFFFFF;
	text-align: center;
}

.fun-h1 {
	width: 563px;
	height: 65px;
	font-family: 'Henny Penny', cursive;
	font-weight: 800;
	font-size: 50px;
	margin-top: 155px;
	margin-left: auto;
	margin-right: auto;
}

.fun-text {
	width: 545px;
	height: 87px;
	color: #000000;
	font-family: 'Happy Monkey', cursive;
	margin-left: auto;
	margin-right: auto;
}

.fun-img {
	display: grid;
	grid-template-columns: 458px 292px 458px;
	grid-gap: 65px;
	margin-top: 101px;
	margin-right: 102px;
	bottom: 0px;
	justify-content: space-around;
}

.angry-main {
	position: relative;
	height: 648px;
	background: #AD4220;
	text-align: left;
}

.angry-h1 {
	width: 368px;
	height: 59px;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	font-size: 45px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.angry-text {
	font-family: 'MedievalSharp', cursive;
}

.angry-text-container {
	width: 403px;
	margin-top: 163px;
	margin-left: 124px;
}

#a1 {
	position: absolute;
	width: 434px;
	height: 500px;
	bottom: 3px;
	top: 145px;
	right: 300px;
}

#a2 {
	position: absolute;
	width: 341.23px;
	height: 393.13px;
	transform: rotate(-126.5deg);
	top: 24px;
	right: -100px;
	bottom: 280px;
}

#a3 {
	position: absolute;
	width: 281.95px;
	height: 324.83px;
	transform: rotate(-28.86deg);
	top: 17px;
	left: 750px;
}

.romantic-main {
	position: relative;
	height: 648px;
	background: #FEFAFB;
	text-align: left;
}

.romantic-text-container {
	width: 425px;
	margin-top: 185px;
	margin-left: 125px;
}

.romantic-h1 {
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #484848;
}

.romantic-text {
	font-family: 'Tangerine', cursive;
	font-size: 30px;
	color: #484848;
}

#r1 {
	position: absolute;
	width: 249px;
	height: 300px;
	top: 140px;
	left: 750px;
}

#r2 {
	position: absolute;
	width: 247px;
	height: 300px;
	top: 207px;
	left: 1150px;
}

#r3 {
	position: absolute;
	width: 183.59px;
	height: 321.19px;
	right: 0px;
	top: -63px;
}

.business-main {
	position: relative;
	display: grid;
	grid-template-columns: 588px auto;
	height: 648px;
	background: #44484A;
	text-align: left;
}

.business-text-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 250px;
	text-align: left;
}

.business-h1 {
	height: 41px;
	margin-top: 160px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #FFFFFF;
	margin-bottom: 0px;
}

.business-text {
	font-family: 'Roboto', sans-serif;
	width: 269px;
	margin: 0px;
	color: #FFFFFF;
}

.box1 {
	flex: 0 0 100%;
	order: 1;
}

.box2 {
	flex: 0 0 269px;
	order: 2;
	margin-right: 64px;
}

.box3 {
	flex: 0 0 269px;
	order: 3;
}

.box4 {
	flex: 0 0 492px;
	order: 4;
	margin-top: -70px;
}

.bis-sub {
	width: 30px;
	height: 66px;
	font-weight: 900;
	font-size: 45px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	line-height: 160%;
	vertical-align: 10px;
}

.footer {

}